# Bỏ qua các thư viện nặng (sẽ tự cài lại được)
**/node_modules/

# QUAN TRỌNG: Bỏ qua file chứa mật khẩu/API Key
.env
*.env

# Bỏ qua các file rác của hệ thống
.DS_Store
Thumbs.db

# Bỏ qua các file build của Expo/Android
.expo/
dist/
web-build/

#Hàm tiện ích để gộp file cho AI kiểm soát code
merge_code.js
TOAN_BO_SOURCE_CODE.txt